<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content >
    <div class="padding">

      <div class="logo">
        <!--<ion-icon color="light" name="sunny"></ion-icon>-->
        <!-- <ion-icon color="light" name="contact"></ion-icon> -->
        <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
        <ion-img src="../../assets/icon/aero.gif"></ion-img>
      </div>
      <div class="w3-container" >
       <br> <h1 class="w3-center" style="color: rgb(238, 20, 20);"><b>Docu Web</b></h1>

      </div>
      <ion-item >
        <ion-label color="light">Email</ion-label>
        <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>

      <ion-button color="light" expand="block" shape="round" fill="outline">Connexion</ion-button>
      <br>
    </div>
    <div class="logo">
        <!--<ion-icon color="light" name="sunny"></ion-icon>-->
        <!-- <ion-icon color="light" name="contact"></ion-icon> -->
        <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
        <ion-img src="../../assets/icon/aero.gif"></ion-img>
      </div>
  </ion-content>
</ion-content>
